$mainColor: #15023a;

$phone: 360px;

$iphone: 420px;

$tablet: 768px;

@mixin  mobile {
    @media (max-width: #{$phone }){
        @content 
    }
};

@mixin  iphone {
    @media (max-width: #{$iphone }){
        @content 
    }
};


@mixin tablet {
    @media (max-width: #{$tablet }){
        @content
    }
}
