@import "../../global.scss";

.about{
    background-color: aqua;
    // display: flex;
    justify-content: center;
    text-align: center;

    

    h1{
        font-size: 50px;
    }

    .container{
        display: flex;
        width: 90%;
        height: 85%;
        margin: 0 auto;
        // justify-content: center;
        // align-items: center;

        .about_left{
            flex: 0.4;
            background-color: blueviolet;
            height: 80%;
        }
        .about_right{
            flex: 0.6;
            background-color: brown;
            height: 80%;
        }
    }
   
}